<div class="darkmode">
    <div class="layer"></div>
  <!-- ! Body -->
  <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
  <div class="page-flex">
    <div class="main-wrapper">
      
      <!-- ! Main nav -->
      <nav class="main-nav--bg">
    <div class="container main-nav">
      <div class="main-nav-start">
      </div>
      <div class="main-nav-end">
        <h6 (click)="logout()" style="cursor:pointer;">Logout</h6>
        <div class="nav-user-wrapper">
          <button href="##" class="nav-user-btn dropdownDashboard-btn" title="My profile" type="button">
            <span class="sr-only">My profile</span>
          </button>
          <ul class="users-item-dropdownDashboard nav-user-dropdownDashboard dropdownDashboard">
            <li><a class="danger" href="##">
                <i data-feather="log-out" aria-hidden="true"></i>
                <span>Log out</span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
      <!-- ! Main -->
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <h2 class="main-title">Dashboard</h2>
          <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon primary">
                  <img src="../assets/img/icons/icons-measure-71.png" alt="Ultrasonic">

                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">{{sensors[0]}} cm</p>
                  <p class="stat-cards-info__title">Ultrasónico</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon warning">
                  <i data-feather="thermometer" aria-hidden="true"></i>
                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">{{sensors[1]}} °C</p>
                  <p class="stat-cards-info__title">Temperatura</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon purple">
                  <i data-feather="droplet" aria-hidden="true"></i>
                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">{{sensors[2]}} %</p>
                  <p class="stat-cards-info__title">Húmedad</p>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon success">
                  <i data-feather="sun" aria-hidden="true"></i>
                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">{{sensors[3]==='0' ? 'OFF':'ON'}}</p>
                  <p class="stat-cards-info__title">Luminosity</p>
                </div>
              </article>
            </div>

            <div class="col-md-6 col-xl-3">
            </div>

            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon success">
                    <img src="../assets/img/icons/icons8-led-70.png" alt="LED">
                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">LED</p>
                  <label class="switch mt-2">
                    <input type="checkbox" name="LED" [checked]="sensors[5] == '1' ? true : false"
                    (blur)="blurEvent($event)">
                    <span class="slider-btn round"></span>
                  </label>
                </div>
              </article>
            </div>


            <div class="col-md-6 col-xl-3">
              <article class="stat-cards-item">
                <div class="stat-cards-icon success">
                  <img src="../assets/img/icons/robot.png" alt="Servo">
                </div>
                <div class="stat-cards-info">
                  <p class="stat-cards-info__num">DC Motor </p>
                  <div class="slidecontainer">
                    <input type="range" min="0" max="100" value="{{sensors[4]}}" class="slider" id="actuator-slider" name="DC-Motor" (blur)="blurEvent($event)"
                    >
                    <h3 style="color:white">{{sensors[4]}} pwm</h3>
                  </div>
                </div>
              </article>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="chart">
                <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
              </div>
            </div>
          </div>
        </div>
      </main>
  
      <!-- ! Footer -->
      <footer class="footer">
    <div class="container footer--flex">
      <div class="footer-start">
        <p>2021 - Graspy - Source code at <a href="https://github.com/AleOD/Front_API" target="_blank"
            rel="noopener noreferrer">Github</a></p>
      </div>
      <ul class="footer-end">
        <li><a href="##">About</a></li>
        <li><a href="##">Support</a></li>
        <li><a href="##">Puchase</a></li>
      </ul>
    </div>
  </footer>
    </div>
  </div>
</div>